/* p{
  margin-top: 60px;
}

.card{
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}



.card-list{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  width: 80%;
}

.test{width: 28%;} */

.card {
  min-height: 600px;
}

.card img {
  padding: 10px;
  height: 250px;
}

.card-img-wrapper {
  height: 250px;
}

.ngx-gallery
{
  display: inline-block;
  margin-bottom: 20px;
}
